<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <ul>
      <li class="message-text"><%= data.text %></li>
      <li class="message-user">By <%= data.user %></li>
    </ul>
  </body>
</html>
